body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  color: whitesmoke;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.container {
  height: 100%;
  width: 100%;
  top: 0;
}

.button {
  background-color: black;
  outline: 1px solid skyblue;
  height: 15%;
  width: 25%;
  text-align: center;
  display: inline-grid;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
}
.button-0 {
  width: 50%;
}

.button:hover {
  background-color: skyblue;
}

.console {
  top: 0;
  background-color: black;
  display: block;
  height: 25%;
  width: 100%;
  text-align: right;
}
